<% @title = "ログイン失敗" %>
<h1 class="title my-3 text-center">ログイン失敗</h1>
<div class="container-fluid">
      <div class="row justify-content-center">
        <div class="card my-2 align-items-center signup">
          <div class="card-body">
              <p>
              <img src='filmanager.png' width="75" height="75" alt='lineQR' class="d-block mx-auto">
              </p>
               <p class="my-1 text-center"><%=@reason%></p>
            　 <p class="my-1 text-center alert">ログインに失敗しました</p>
              <p class="login">
                <form method="post" action="/auth/line">
                      <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
                      <button type="submit" class="login-button">
                        <img src="line_login_button_image_url" alt="LINEでログインし直す">
                      </button>
                </form>
              </p>
          </div>
        </div>
      </div>
</div>

