<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./assets/css/filmanager.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>ログイン</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg fixed-top">
        <a class="navbar-brand nav-textcolor" href="/">Filmanager</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="nnavbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active float-end">
                    <a class="nav-link" href="/signup">Sign up</a>
                </li>
                <li class="nav-item active float-end">
                    <span class="nav-link disabled">Sign in</span>
                </li>
            </ul>
        </div>
  </nav>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
<!--<form action="/signin" method="post">-->
  
<!--  <p>-->
<!--   <label for="email">メールアドレス</label>-->
<!--   <input type="mail" name="mail" required>-->
<!--  </p>-->
  
<!--  <p>-->
<!--   <label for="password">パスワード</label>-->
<!--   <input type="password" name="password" required>-->
<!--  </p> -->
 
<!--  <p>-->
<!--   <input type="submit" value="ログイン">-->
<!--  </p>-->
  
<!--</form>-->
<h1 class="title my-3 text-center">Sign in</h1>
<% if @miss.present? %>
<p class="my-1 text-center"><%=@miss%></p>
<% end%>
<div class="container-fluid">
      <div class="row justify-content-center">
        <div class="card my-2 align-items-center signup">
          <div class="card-body">
            <form action="/signin" method="post">
              <p>
              <img src='filmanager.png' width="75" height="75" alt='lineQR' class="d-block mx-auto">
              </p>
              <p class="login">
                <input type="mail" placeholder="Email" name="mail" class="form-control login" required/>
              </p>
              <p class="login">
                <input type="password" placeholder="Password" name="password" class="form-control login" required/>
              </p>
              <p class="login">
                <input type="submit" value="Sign in" class="form-control login submit"/>
              </p>
            </form>
          </div>
        </div>
      </div>
      </div>
</body>
</html>