<h1 class="title my-3 text-center">Sign in</h1>
<% if @miss.present? %>
<p class="my-1 text-center alert"><%=@miss%></p>
<% end%>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card my-2 align-items-center signup">
          <div class="card-body">
              <p>
                  <img src='filmanager.png' width="75" height="75" alt='lineQR' class="d-block mx-auto">
              </p>
              <p class="login">
                <form method="post" action="/auth/line">
                    <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
                    <button type="submit" class="form-control login submit">
                        <img src="btn_base.png" class="line_icon" alt="LINEでログイン">
                        LINEでログイン
                    </button>
                </form>
              </p>
          </div>
        </div>
    </div>
</div>
