<div class="container-fluid p-0">
    <div class="row d-flex">
        <div class="explain col-md-6 col-sm-12 p-0 contain">
            <div class="d-flex align-items-center">
                <div class="p-2 ml-5 mr-auto">
                    <h1 class="text-left large pb-3">もう映画を<br class="d-none d-md-block d-xl-none"><br class="d-block d-sm-none">見過ごさない。</h1>
                    <h6 class="text-left">あなたが見たいと思った映画を記録し、<br class="d-none d-lg-block d-xl-none"><br class="d-block d-sm-none">公開終了が近づくとLineでお知らせします。</h6>
                    <p class="submit large block my-5 text-center"><a href="/signin" class="submit">Sign in with LINE account</a></p>
                </div>
            </div>
        </div>
    <div class="col-md-6 col-sm-12 p-0">
        <img src='smartmockup.jpg' class="img-fluid">
    </div>
    </div>
</div>
<div class="container-fluid my-5 py-5">
    <div class="row d-flex">
        <div class="col-md-6 col-sm-12 pr-0 pl-md-4">
            <div class="p-2 feature">
                <h1 class="text-center"><span class="u-line">1.見たい映画を登録</h1>
                <h6 class="text-center pl-4">上映している映画を映画館ごとにチェックし、<br class="d-none d-md-block d-lg-none"><br class="d-block d-sm-none">登録できます。</span></h6>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 mx-auto">
            <img src='demo1.png' width='500' class="img-fluid demo">
        </div>
    </div>
</div>
<div class="container-fluid my-5 py-5">
    <div class="row d-flex">
        <div class="col-md-6 col-sm-12 pr-0 pl-md-4">
            <div class="p-2 feature">
                <h1 class="text-center"><span class="u-line">2.マイページで<br class="d-none d-md-block d-lg-none"><br class="d-block d-sm-none">映画を確認</span></h1>
                <h6 class="text-center pl-4">マイページで登録した映画を一覧できます。</h6>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 mx-auto">
            <img src='demo2.png' width='500' class="img-fluid demo">
        </div>
    </div>
</div>
<div class="container-fluid my-5 py-5">
    <div class="row d-flex">
        <div class="col-md-6 col-sm-12 pr-0 pl-md-4">
            <div class="p-2 feature">
                <h1 class="text-center"><span class="u-line">3.公開終了日を<br class="d-none d-md-block d-lg-none"><br class="d-block d-sm-none">お知らせ</span></h1>
                <h6 class="text-center pl-4">登録した映画の公開終了日が決まり次第、<br class="d-none d-lg-block d-xl-none"><br class="d-block d-sm-none">あなたにLineでお知らせします。</h6>
            </div>
        </div>
        <div class="col-md-4 col-sm-10 mx-auto">
            <img src='demo4.png' height='450' class="demo pl-5 ml-5">
        </div>
    </div>
</div>
