<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Filmanager</title>
</head>
<body>
  <h2>Filmanager</h2>
  <a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br>
  <!--<h3>filmanagerとは映画の終了時期をlineでお知らせするサービスです</h3>-->
</body>
</html>