<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/filmanager.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <title>Filmanager</title>
</head>
<body>
      <nav class="shadow-sm navbar navbar-expand-sm navbar-dark bg fixed-top">
        <a class="navbar-brand nav-textcolor" href="/"><img src='logo.png' width='95' alt='logo'></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item active float-end">
                    <a class="nav-link active" href="/signin">Sign in</a>
                </li>
            </ul>
        </div>
      </nav>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <div class="container-fluid p-0">
        <div class="row d-flex">
            <div class="explain col-md-6 col-sm-12 p-0 contain">
                <div class="d-flex align-items-center">
                    <div class="p-2 ml-5 mr-auto">
                        <h1 class="text-left large pb-3">もう映画を<br class="d-none d-md-block d-xl-none"><br class="d-block d-sm-none">見過ごさない。</h1>
                        <h6 class="text-left">あなたが見たいと思った映画を記録し、<br class="d-none d-lg-block d-xl-none"><br class="d-block d-sm-none">公開終了が近づくとLineでお知らせします。</h6>
                        <p class="submit large block my-5 text-center"><a href="/signin" class="submit">Sign in with LINE account</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 p-0">
                <img src='smartmockup.jpg' class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container-fluid my-5 py-5">
        <div class="row d-flex">
            <div class="col-md-6 col-sm-12 pr-0 pl-md-4">
                <div class="p-2 feature">
                    <h1 class="text-center"><span class="u-line">1.見たい映画を登録</h1>
                    <h6 class="text-center pl-4">上映している映画を映画館ごとにチェックし、<br class="d-none d-md-block d-lg-none"><br class="d-block d-sm-none">登録できます。</span></h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-10 mx-auto">
                <img src='demo1.png' width='500' class="img-fluid demo">
            </div>
        </div>
     </div>
     <div class="container-fluid my-5 py-5">
        <div class="row d-flex">
            <div class="col-md-6 col-sm-12 pr-0 pl-md-4">
                <div class="p-2 feature">
                    <h1 class="text-center"><span class="u-line">2.マイページで<br class="d-none d-md-block d-lg-none"><br class="d-block d-sm-none">映画を確認</span></h1>
                    <h6 class="text-center pl-4">マイページで登録した映画を一覧できます。</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-10 mx-auto">
                <img src='demo2.png' width='500' class="img-fluid demo">
            </div>
        </div>
     </div>
     <div class="container-fluid my-5 py-5">
        <div class="row d-flex">
            <div class="col-md-6 col-sm-12 pr-0 pl-md-4">
                <div class="p-2 feature">
                    <h1 class="text-center"><span class="u-line">3.公開終了日を<br class="d-none d-md-block d-lg-none"><br class="d-block d-sm-none">お知らせ</span></h1>
                    <h6 class="text-center pl-4">登録した映画の公開終了日が決まり次第、<br class="d-none d-lg-block d-xl-none"><br class="d-block d-sm-none">あなたにLineでお知らせします。</h6>
                </div>
            </div>
            <div class="col-md-4 col-sm-10 mx-auto">
                <img src='demo3.png' height='450' class="demo pl-5 ml-5">
            </div>
        </div>
     </div>
</body>
</html>