*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'cinecaption';
      src: url('/cinecaption2.27/cinecaption227.TTF') format('truetype');
    font-display: swap;
}

html {
  height: 100%;
}

body{
    height: 100%;
    padding-top:56px;
    background:#F3F3F3 !important;
}

.bg{
    background-color: #F0F4BC;
}

.alert{
    color: #F74E4B;
    font-family: 'cinecaption';
}

.nav-textcolor{
    color:#3A3532 !important;
    font-family: 'Anton', sans-serif;
}

.nav-link{
    color:#3A3532 !important;
    font-family: 'Anton', sans-serif;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(58,53,50,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/* ボタン共通 */
/*input{*/
/*    border: 1px solid;*/
/*    background: none;*/
/*    display: block;*/
/*    margin: auto;*/
    
/*    width: 80%;*/
/*    text-align: center;*/
    
    /* 上との余白 */
/*    margin-top: 20px;*/
    
    /* 文字の大きさ */
/*    font-size: 20px;*/
/*}*/


.contain{
    display: flex;
}

.content{
    margin:0 auto;
}

.sidebar-sticky {
  position: sticky;
  top: 60px;
}

.sidebar{
  width:20%;
  min-height: calc(100vh - 50px);
}

/*.navbar {*/
/*  position: sticky;*/
/*  top: 0px;*/
/*}*/

/*.button{*/
/*    margin-left:0.5em;*/
/*    color: #f9f9f9;*/
/*    background-color: #448AF0;*/
/*}*/

.font-small{
    font-size: 8px;
}

.font-mid{
    font-size: 12px;
}


.title{
    color:#3A3532 !important;
    font-family: 'Anton', sans-serif;
}

.signup {
  width: 318px;
}

.login {
  width: 300px;
  font-family: sans-serif;
}


.submit{
    font-family: 'Anton', sans-serif;
    background-color:#F0F4BC !important;
    color:#3A3532 !important;
}

.btn{
  display:block;
  width:70px;
  height:70px;
  margin:1em auto;
  line-height:70px;
  background:gray;
  border-radius:100%;
  color:#fff;
  font-size:10px;
  font-weight:bold;
  text-decoration:none;
  text-align:center;
}


/*.bottom {*/
/*    position: absolute;*/
/*    right: 10px;*/
/*    bottom: 10px;*/
/*}*/
.card.is-empty {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.fas:hover, .far:hover {
    text-shadow:0.5px 0.5px 2px #777,0.5px 0.5px 2px #777,0.5px -0.5px 2px #777,-0.5px -0.5px 2px #777;
    color: #F0F4BC;
}

.card-body p{
    font-family: 'cinecaption';
}

.card-body a{
    text-shadow:0.5px 0.5px 3px #888,0.5px 0.5px 3px #888,0.5px -0.5px 3px #888,-0.5px -0.5px 3px #888;
    color: #F0F4BC;
}

.card-body a:hover{
    text-shadow:0.5px 0.5px 1px #999,0.5px 0.5px 1px #999,0.5px -0.5px 1px #999,-0.5px -0.5px 1px #999;
    color: #3A3532;
    text-decoration: none;
}

.demo {
    filter: drop-shadow(1px 1px 4px #3A3532);
}

.u-line {
    background: linear-gradient(transparent 87%, #F0F4BC 87%);
}


h3 {
    font-family: 'cinecaption' !important;
}

.feature {
    font-family: 'cinecaption' !important;
}

.explain{
    font-family: 'cinecaption' !important;
   
    background-color:#F0F4BC !important;
}

.big-image{
    font-size: 0;
}

.card-footer-text{
    background-color:#F3F3F3;
}

.large{
    font-size: 2.8rem;
}

.block {
    display: block;
    width: 100%;
}